<div class="construction">
  <h2>Welcome To Attaplumbing</h2>
  <h4>This Site is currently under construction but will be live soon</h4>
  <h4>Make sure to come back and check us out when we fully launch!</h4>
  <div></div>

  <img src="/assets/imgs/Logo.png" alt="RagFrogRevival-Logo" width="25%" />

</div>

<style>
  .construction{ display: flex; flex-direction: column; justify-content: center;
  background-color: #3d760d; width: 100%; text-align: center; align-items:
  center; height: 100%; }
</style>