@font-face {
  font-family: "frogFont";
  src: url(/assets/fonts/curlz.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Ensures text is visible while the font loads */
}

.frog-font {
  font-family: "frogFont";
  font-size: larger;
}
